@charset "UTF-8";


body {
	width: 100%;
	height:100%;
	font-family: 'Open Sans', sans-serif;
	
	}

input {
  border: none;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  padding: 0;
  -webkit-appearance: none;
}

after { clear: both; }

#login{
  margin-left: 38%;
  margin-top : 15%;
  width: 320px;
  position: absolute;
  height:300px;
}

#login form{
  margin: auto;
  padding: 22px 22px 22px 22px;
  width: 150%;
  border-radius: 5px;
  background: #776f8f;
  border-top: 3px solid #434a52;
  border-bottom: 3px solid #434a52;
}

#login form input[type="text"] {
    background-color: #cacae4;
  border-radius: 0px 3px 3px 0px;
  color: #111115;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 290px;
  height: 50px;
}

#login form input[type="password"] {
  background-color: #cacae4;
  border-radius: 0px 3px 3px 0px;
  color: #111115;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 290px;
  height: 50px;
}
#login form span {
  background-color: #cacae4;
  border-radius: 3px 0px 0px 3px;
  border-right: 3px solid #434a52;
  color: #111115;
  display: block;
  float: left;
  icon: inherit;
  line-height: 50px;
  text-align: center;
  width: 150px;
  height: 50px;
}



#login form input[type="submit"]{
  background: #b5cd60;
  border: 0;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}
#login form input[type="submit"]:hover {
  background: #16aa56;
}




form.databaseClass {
  margin: auto;
  align-items: center;
  background-color: aliceblue;
  padding: 22px 22px 22px 22px;
  width: 30%;
  border-radius: 5px;
  border-top: 3px solid #434a52;
  border-bottom: 3px solid #434a52;
}

form.databaseClass input[type="text"]  {
    background-color: #ccccff;
    color: white;
    border-radius: 0px 3px 3px 0px;
    color: #a9a9a9;
    margin-bottom: 1em;
    padding: 0 16px;
    width: 50%;
    height: 200%;
}
form.databaseClass input[type="submit"] {
  background: #b5cd60;
  border: 0;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}


form table.ActionButton input, form input.ActionButton, input.ActionButton{
    display: block; 
    margin: auto;
    padding-right: 200px;
    padding: 1em;
    background-color: #4110d4;
    color:#008040;
    font-family: "Times New Roman", Times, serif;
    font-weight:bold;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}
